# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_WOMBAT_LEFT

config ZMK_KEYBOARD_NAME
	default "Wombat"

config ZMK_SPLIT_ROLE_CENTRAL
	default y

endif

if SHIELD_WOMBAT_LEFT || SHIELD_WOMBAT_RIGHT

config ZMK_SPLIT
	default y

endif
